# ==== Android / Kotlin ====
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# ==== .NET / C# ====
[Bb]in/
[Oo]bj/
.vs/
*.user
*.suo
*.dbmdl
*.log
*.vspscc
*.vssscc
*.tmp
