# ================================
# ANDROID / KOTLIN (Android Studio)
# ================================
*.iml
.gradle/
local.properties
/.idea/
/.idea/*
!/.idea/codeStyles
!/.idea/icon.svg
!/.idea/vcs.xml

# ================================
# Build output
# ================================
/build/
**/build/
captures/
.externalNativeBuild/
.cxx/

# ================================
# OS junk
# ================================
.DS_Store

# ================================
# Keystore files
# ================================
*.jks
!keystore/debug.keystore
!keystore/

# ================================
# DOTNET / C#
# ================================
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio stuff
.vs/
*.user
*.suo
*.cache
*.config
*.dbmdl
*.psess
*.vsp
*.vspx

# ================================
# ReSharper / JetBrains Rider
# ================================
_ReSharper*/
*.DotSettings.user

# ================================
# LOGS / TEMP / BACKUP
# ================================
*.log
*.tmp
*.temp
*.bak

# ================================
# SQLite/Local database files
# ================================
*.sqlite
*.sqlite3
*.db-shm
*.db-wal

# ================================
# ZIP / package output
# ================================
*.zip
*.7z
*.tar
*.gz
