trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
- checkout: self

- script: |
    echo "Setting up Java 17..."
    sudo update-java-alternatives --set java-1.17.0-openjdk-amd64
    java -version
  displayName: 'Set up Java 17 manually'

- task: Cache@2
  inputs:
    key: 'gradle | "$(Agent.OS)" | build.gradle.kts'
    restoreKeys: |
      gradle | "$(Agent.OS)"
    path: ~/.gradle
  displayName: 'Cache Gradle packages'

- script: chmod +x ./gradlew
  displayName: 'Grant execute permission for gradlew'

- script: ./gradlew assembleDebug
  displayName: 'Build Debug APK'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: 'app/build/outputs/apk/debug'
    ArtifactName: 'debug-apk'
    publishLocation: 'Container'
  displayName: 'Publish APK artifact'