trigger:
- main

pool:
  name: Default

steps:
- checkout: self

- script: java -version
  displayName: 'Verify Java version'

- task: Cache@2
  inputs:
    key: 'gradle | "$(Agent.OS)" | build.gradle.kts'
    restoreKeys: |
      gradle | "$(Agent.OS)"
    path: $(GRADLE_USER_HOME)
  displayName: 'Cache Gradle packages'

- script: |
    if exist gradlew.bat (gradlew.bat assembleDebug) else (./gradlew assembleDebug)
  displayName: 'Build Debug APK'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: 'app/build/outputs/apk/debug'
    ArtifactName: 'debug-apk'
    publishLocation: 'Container'
  displayName: 'Publish APK artifact'