name: Sync GitHub to Azure DevOps

on:
  push:
    branches:
      - main

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout full history
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to Azure DevOps
        env:
          AZURE_DEVOPS_PAT: ${{ secrets.AZURE_DEVOPS_PAT }}
          AZURE_DEVOPS_USER: ${{ secrets.AZURE_DEVOPS_USER }}
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"

          git remote add azure "https://${AZURE_DEVOPS_USER}:${AZURE_DEVOPS_PAT}@dev.azure.com/IMPLI/SmartMenza_backend/_git/SmartMenza_backend"

          git push azure --all
          git push azure --tags
